<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>
                    <a href="#roles" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Manage Role</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="roles" class="collapse ">
                        <ul class="nav">
                            <li><a routerLink='add-role' class="">Add Role</a></li>
                            <li><a routerLink="list-roles" class="">List Role</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#users" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Manage Users</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="users" class="collapse ">
                        <ul class="nav">
                            <li><a href="page-profile.html" class="">Add Users</a></li>
                            <li><a href="page-login.html" class="">List Users</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>